


  @media screen and (min-width: 280px)and (max-width:12350px){
    body{width: 100%; height: 100%; background-color:none;}
    #contenedorimagen{
          width: 100%;  
          flex-direction:row
        }
        div{ height: 100%;}
        form{height: 100%;}
        p{height: 100%;}
        option{height: 100%;}
        button{height: 100%;}
  }