p{
    background-color: yellow;

    /*
aplicar a todos las etiquetas llamadas , en este caso  A todas las P 

a todas las etiquetas que se nombren aca 
*/
}

p.color1{
background-color: red;

/*
aplica para la  etiqueta que este llamada con ese nombre ,.......  en este caso  P que este llamada con la clase  color1
*/
}


#color2{

    background-color: blue;
    /*
este es para los que esten llamados con el ID independientemente de la etiqueta puede ser cualquiera,....... en este caso color 2  
*/
}

.colorgeneral{

    background-color: chartreuse;
    /*
aplica para cualquier etiqueta que tenga la clase, en este caso colorgenerarl1
*/

}

img.imagen{
    width: 250px;
    height: 250px;
    filter: blur(5px);
    
}
img.imagen1{
    width: 250px;
    height: 250px;
} 
img.imagen2{
    width: 250px;
    height: 250px;
    height: 250px;
    filter:grayscale(80%);
    -webkit-filter:grayscale(80%);
}
img.imagen3{
    width: 250px;
    height: 250px;
}
img.imagen4{
    width: 250px;
 
}
img.imagen5{
    width: 250px;
    height: 250px;
}

.contenedor:hover .imagen3 {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.contenedor {overflow:hidden;}

.menu {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
  }