.bodycss{
  background-color:none ;
}
.miprimerul{

color: white;
display: inline;
}









ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}







#contenedorimagen{
width: 1250px;
height: 250px;

}

.imag{

background-color: white;
align-items: center;
}


.imag1 {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  border: none;
}
.imag2{


  filter: grayscale(80%);
border: none;
}
.imag3{
 
  border: none;
}
.imag4{
  border: none;

}

.minavmenu{float:left;height: 250px;}
.ulmenu{height: 220px;}

.infogym{
background-color:slategray;
float: left;
height:500px;
width:1048px;
border-bottom: 3px solid  black;
}
.imggif1{}

.final{
  background-color: silver;
      float:left;
      height:200px;
      width:1250px;
      padding-bottom: 5px;
      font-size: 15px;
      position: relative;
      
      
}




  @media screen and (min-width: 280px)and (max-width:12350px){
    body{width: 100%; height: 100%; background-color:none;}
    #contenedorimagen{
          width: 100%;  
          flex-direction:row
        }


    .imag,.imaginicial{width: 100%; }
    nav,ul,li{
      flex-direction: column; 
      width: 100%;}

    .imag1{width: 24%;height: 100%;}
    .imag2{width:24%;height: 100%;}
    .imag3{width: 24%;height: 100%;}
    .imag4{width: 26%;height: 100%;}
    .minavmenu{width: 50%; height: 100%;}
    .ulmenu{width: 100%; height: 50%;}
    .infogym{width: 50%;}
    .imggif1{width: 100%; height: 100%;}
    .final{width: 100%;}



  }
    
  